<%= form_with(model: @service.becomes(Service), class: 'contents') do |form| %>
  <%= render 'shared/form/select', form: form,
             field: :type,
             options: options_for_select({ 'Github' => 'Services::Github' }, @service.type),
             required: true %>
  <%= render 'shared/form/text_field', form: form,
             field: :name,
             required: true %>
  <%# render 'shared/form/text_area', form: form,
             field: :config,
             placeholder: '{}' %>

  <fieldset class="service-config">
    <%# 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 %>
    <%= render 'shared/config/select', form: form, label: 'Type',
               field: :type,
               options: {'Organization' => 'org', 'User' => 'user' },
               default: 'org',
               required: true %>
    <%= render 'shared/config/text_field', form: form, label: 'Organization',
               field: :org,
               # required: true
               required: false %>
    <%= render 'shared/config/text_field', form: form, label: 'User',
               field: :user,
               # required: true
               required: false %>
    <%= render 'shared/config/text_field', form: form, label: 'API token',
               field: :token,
               required: true %>
  </fieldset>

  <div class="inline">
    <%= form.submit value: action_name == 'new' ? t('.create') : t('.update'), class: 'button' %>
  </div>
<% end %>
