<%= form_with(model: @service, data: { controller: 'form services' }, class: 'contents') do |form| %>
  <div data-action="form:select.changed->services#handleChange">
    <%= render 'shared/form/select', form: form,
               field: :type,
               options: options_for_select(@types, @service.type),
               disabled: action_name != 'new',
               required: true %>
  </div>
  <%= render 'shared/form/text_field', form: form,
             field: :name,
             required: true %>

  <%= turbo_frame_tag 'service-config', data: { action: 'turbo:frame-render->form#connect'} do %>
    <%= render template: '/services/service_config'  %>
  <% end %>

  <div class="inline">
    <%= form.submit value: action_name == 'new' ? t('.create') : t('.update'), class: 'btn btn-primary' %>
  </div>
<% end %>
