<%= form_with(model: @user, id: 'user-invitation', url: (action_name == 'new' ? admin_users_invitations_path(@user) : user_invitation_path(@user)), data: { controller: 'form' }, class: "contents #{@user.errors.empty? ? 'needs-validation' : 'was_validated'}") do |form| %>
  <div class="container-fluid row g-4">
    <div class="col-12">
      <%= render 'shared/form/text_field', form: form,
                 field: :name,
                 required: true %>
    </div>
    <div class="col-12">
      <%= render 'shared/form/text_field', form: form,
                 field: :pronouns %>
    </div>
    <div class="col-12">
      <%= render 'shared/form/text_field', form: form,
                 field: :email,
                 required: true %>
    </div>

    <% if action_name == 'edit' %>
      <div class="col-12">
        <%= render 'shared/form/password', form: form,
                   field: :password, required: true %>
      </div>
      <%= form.hidden_field :invitation_token, readonly: true %>
    <% end %>

    <% if action_name == 'new'  %>
      <div class="col-12">
        <%= render 'shared/form/select', form:form,
                   field: :role_ids,
                   options: options_for_select(
                     @roles.map { |r| [r.name, r.id] },
                     @user.roles.map(&:id)
                   ),
                   required: true, multiple: true %>
      </div>
      <% end %>
  </div>
<% end %>
