<%= form_with(model: @user, url: user_path(@user), data: { controller: 'form' }, class: "contents #{@user.errors.empty? ? 'needs-validation' : 'was_validated'}") do |form| %>
  <div class="container-fluid row g-4">
    <div class="col-6">
      <%= render 'shared/form/text_field', form: form,
                 field: :name,
                 required: true %>
    </div>
    <div class="col-6">
      <%= render 'shared/form/text_field', form: form,
        field: :pronouns,
        required: true %>
    </div>
    <div class="col-6">
      <%= render 'shared/form/file_field', form: form,
        field: :avatar %>
    </div>
    <div class="col-6">
      <%= render 'shared/form/text_field', form: form,
                 field: :email,
                 required: true %>
    </div>
    <div class="col-6">
      <%= render 'shared/form/text_field', form: form,
                 type: 'tel',
                 field: :phone,
                 required: true %>
    </div>
    <% if current_user.id == @user.id %>
      <div class="col-6">
        <%#= render 'shared/form/password', form: form,
                   type: :password,
                   field: :password %>
      </div>
    <% end %>
    <div class="col-12">
      <%= render 'shared/form/address', form: form,
        field: :address,
        required: false %>
    </div>

<!--    TODO: Make this more dynamic. Somehow.-->
    <div class="col-6">
      <fieldset class="border container-fluid row g-4 my-2 ms-1 pb-4">
        <legend class="w-auto float-none"><i class="fa-brands fa-github"></i> GitHub</legend>

        <%= form.fields_for :services_github_user_config do |subform| %>
          <%= render 'shared/form/text_field', form: subform,
                     field: :username %>
        <% end %>
      </fieldset>
    </div>

    <div class="col-12">
      <div class="inline">
        <%= form.submit value: action_name == 'new' ? t('.create') : t('.update'), class: 'btn btn-primary' %>
        <%= link_to t('common.cancel'), :back, class: 'btn btn-tertiary p-3' %>
      </div>
    </div>
  </div>
<% end %>
