<%= turbo_frame_tag 'google-workspace-users' do %>
  <%= render Table::Component.new do |table| %>
    <% table.with_header(title: t('.name')) %>
    <% table.with_header(title: t('.email')) %>
    <% table.with_header(title: t('.created')) %>
    <% table.with_header(title: t('.login')) %>
    <% table.with_header(title: t('.mfa')) %>

    <% @users[:data].each do |user| %>
      <% table.with_row do |row| %>
        <% row.with_column do %>
          <div class="d-flex align-items-center">
            <% if user.thumbnail_photo_url %>
              <img src="<%= url_for(user.thumbnail_photo_url) %>"
                   alt="Avatar for <%= user.name.full_name %>"
                   class="rounded-circle avatar-sm" />
            <% else %>
              <i class="fas fa-user-circle default-avatar-sm"></i>
            <% end %>

            <div class="ms-3">
              <p class="fw-bold mb-1"><%= user.name.full_name %></p>
            </div>
          </div>
        <% end %>

        <% row.with_column.with_content(user.primary_email) %>
        <% row.with_column do %>
          <span title="<%= user.creation_time.to_datetime.to_formatted_s(:db) %>">
            <%= user.creation_time.to_datetime.to_formatted_s(:date) %>
          </span>
        <% end %>
        <% row.with_column do %>
          <span title="<%= user.last_login_time.to_datetime.to_formatted_s(:db) %>">
            <%= user.last_login_time.to_datetime.to_formatted_s(:date) %>
          </span>
        <% end %>

        <% row.with_column do %>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch"
                   <%= 'checked' if user.is_enrolled_in2_sv %> disabled />
          </div>
        <% end %>
      <% end %>
    <% end %>

    <% table.with_pagination(label: 'Google Workspace users', frame: 'google-workspace-users') do |pager| %>
      <% pager.with_first(title: 'First', page: nil, path: @pagination_params) %>
      <% pager.with_next(title: 'Next', page: @users[:page_info][:next_page], path: @pagination_params,
                         disabled: @users[:page_info][:next_page].blank?) %>
    <% end %>
  <% end %>
<% end %>
