<%= link_to path, **link_attributes do %>
  <i class="<%= icon %> fa-fw me-3"></i><span><%= title %></span>
<% end %>

<% if items %>
  <ul id="<%= content_id %>" class="collapse list-group list-group-flush ps-3<%= ' show' if active? %>">
    <% items.each do |item| %>
      <li class="list-group-item py-1 text-truncate<%= ' active' if item.active? %>" title="<%= item.title %>">
        <%= item %>
      </li>
    <% end %>
  </ul>
<% end %>
