<%= form_with(model: @user, url: admin_user_path(@user), data: { controller: 'form' }, class: "contents #{@user.errors.empty? ? 'needs-validation' : 'was_validated'}") do |form| %>
  <div class="container-fluid row g-4">
    <div class="col-6">
      <%= render 'shared/form/text_field', form: form,
                 field: :name,
                 required: true %>
    </div>
    <div class="col-6">
      <%= render 'shared/form/text_field', form: form,
        field: :pronouns,
        required: true %>
    </div>
    <div class="col-6">
      <%= render 'shared/form/file_field', form: form,
        field: :avatar %>
    </div>
    <div class="col-6">
      <%= render 'shared/form/text_field', form: form,
                 field: :email,
                 required: true %>
    </div>
    <div class="col-6">
      <%= render 'shared/form/text_field', form: form,
                 type: 'tel',
                 field: :phone,
                 required: true %>
    </div>
    <div class="col-6">
      <%= render 'shared/form/select', form:form,
                 field: :roles,
                 options: options_for_select(
                   @roles.map { |r| [r.name, r.id] },
                   @user.roles.map(&:id)
                 ),
                 required: true, multiple: true %>
    </div>

    <div class="col-12">
      <%= render 'shared/form/address', form: form,
        field: :address,
        required: false %>
    </div>

    <div class="col-12">
      <div class="inline">
        <%= form.submit value: action_name == 'new' ? t('.create') : t('.update'), class: 'btn btn-primary' %>
        <%= link_to 'Cancel', :back, class: 'btn btn-tertiary p-3' %>
      </div>
    </div>
  </div>
<% end %>
