<%= turbo_frame_tag 'github-members' do %>
<table data-mdb-fixed-header="true" class="table table-hover table-striped table-sticky align-middle mb-0 bg-white github-repos">
  <thead>
  <tr>
    <th scope="col">Login</th>
    <th scope="col">User</th>
  </tr>
  </thead>
  <tbody>
  <% @members[:data].each do |member| %>
    <tr>
      <td>
        <img src="<%= url_for(member.avatar_url) %>"
             alt="Avatar for <%= member.login %>"
             class="rounded-circle avatar-sm" />
        <%= link_to member.login, member.html_url, data: { turbo_frame: '_top' } %>
      </td>
      <td>
        <%# TODO: Is there a better way to do this? %>
        <% user_config = Services::Github::UserConfig.find_by(username: member.login) %>
        <% if user_config %>
          <img src="<%= url_for(user_config.user.avatar) %>"
               alt="Avatar for <%= user_config.user.name %>"
               class="rounded-circle avatar-sm" />
            <%= link_to user_config.user.name, user_config.user, data: { turbo_frame: '_top' } %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= render partial: 'pagination', object: @members[:page_info],
           locals: { label: 'Github organization members pagination', frame: 'github-members' } %>
<% end %>
