<%= turbo_frame_tag 'github-repositories' do %>
  <%= render Table::Component.new do |table| %>
    <% table.with_header(align: :center).with_icon(title: 'Language', icon: 'laptop-code') %>
    <% table.with_header(title: 'Name', sort: 'name') %>
    <% table.with_header(title: 'Description') %>
    <% table.with_header(title: 'Created', sort: 'created_at') %>
    <% table.with_header(title: 'Updated', sort: 'updated_at') %>
    <% table.with_header(title: 'Pushed', sort: 'pushed_at') %>
    <% table.with_header(sort: 'stargazers', align: :center).with_icon(title: 'Stargazers', icon: 'star') %>
    <% table.with_header(align: :center).with_icon(title: 'Watchers', icon: 'eye') %>
    <% table.with_header(align: :center).with_icon(title: 'Forks', icon: 'code-fork') %>
    <% table.with_header(align: :center).with_icon(title: 'Issues', icon: 'bug') %>
    <% table.with_header(title: 'License') %>
    <% table.with_header(title: 'Branch') %>

    <% @repos[:data].each do |repo| %>
      <% table.with_row do |row| %>
        <% row.with_column do %>
          <% case language = repo.language&.downcase %>
          <% when 'c#' %>
            <i class="fa-brands fa-microsoft" title="<%= language %>"></i>
          <% when 'c++' %>
            <i class="fa-solid fa-c" title="<%= language %>"></i>
          <% when 'cartocss' %>
            <i class="fa-solid fa-globe" title="<%= language %>"></i>
          <% when 'coffeescript' %>
            <i class="fa-solid fa-mug-hot" title="<%= language %>"></i>
          <% when 'css' %>
            <i class="fa-brands fa-css3" title="<%= language %>"></i>
          <% when 'dockerfile' %>
            <i class="fa-brands fa-docker" title="<%= language %>"></i>
          <% when 'go' %>
            <i class="fa-brands fa-golang" title="<%= language %>"></i>
          <% when 'groovy' %>
            <i class="fa-solid fa-star" title="<%= language %>"></i>
          <% when 'html' %>
            <i class="fa-brands fa-html5" title="<%= language %>"></i>
          <% when 'java' %>
            <i class="fa-brands fa-java" title="<%= language %>"></i>
          <% when 'javascript' %>
            <i class="fa-brands fa-js" title="<%= language %>"></i>
          <% when 'jupyter notebook' %>
            <i class="fa-solid fa-flask" title="<%= language %>"></i>
          <% when 'objective-c' %>
            <i class="fa-brands fa-apple" title="<%= language %>"></i>
          <% when 'php' %>
            <i class="fa-brands fa-php" title="<%= language %>"></i>
          <% when 'plpgsql' %>
            <i class="fa-solid fa-database" title="<%= language %>"></i>
          <% when 'hcl', 'puppet' %>
            <i class="fa-solid fa-gears" title="<%= language %>"></i>
          <% when 'python' %>
            <i class="fa-brands fa-python" title="<%= language %>"></i>
          <% when 'ruby' %>
            <i class="fa-solid fa-gem" title="<%= language %>"></i>
          <% when 'scss' %>
            <i class="fa-brands fa-sass" title="<%= language %>"></i>
          <% when 'shell' %>
            <i class="fa-solid fa-terminal" title="<%= language %>"></i>
          <% else %>
            <%# ActionScript %>
            <i class="fa-solid fa-code" title="<%= language || 'Other' %>"><%= language %></i>
          <% end %>
        <% end %>

        <% row.with_column do %>
          <i class="fa-solid <%= if repo.is_template
                                   'fa-book-bookmark'
                                 elsif repo.fork
                                   'fa-code-fork'
                                 elsif repo.private
                                   'fa-lock'
                                 else
                                   'fa-book-atlas'
                                 end %>"
             title="<%= repo.visibility.capitalize %><%= ' template' if repo.is_template %><%= ' fork' if repo.fork %>"></i>
          <%= link_to repo.name, services_github_repo_path(@service, repo: repo.name), data: { turbo_frame: '_top'} %>
        <% end %>

        <% row.with_column.with_content(repo.description || '') %>
        <% row.with_column do %>
          <span title="<%= repo.created_at.to_datetime.to_formatted_s(:db) %>">
            <%= repo.created_at.to_datetime.to_formatted_s(:date) %>
          </span>
        <% end %>
        <% row.with_column do %>
          <span title="<%= repo.updated_at.to_datetime.to_formatted_s(:db) %>">
            <%= repo.updated_at.to_datetime.to_formatted_s(:date) %>
          </span>
        <% end %>
        <% row.with_column do %>
          <% unless repo.pushed_at.nil? %>
            <span title="<%= repo.pushed_at.to_datetime.to_formatted_s(:db) %>">
              <%= repo.pushed_at.to_datetime.to_formatted_s(:date) %>
            </span>
          <% end %>
        <% end %>


        <% row.with_column.with_content(repo.stargazers_count) %>
        <% row.with_column.with_content(repo.watchers) %>
        <% row.with_column.with_content(repo.forks_count) %>
        <% row.with_column.with_content(repo.open_issues) %>
        <% row.with_column.with_content(repo.license&.name || '') %>
        <% row.with_column.with_content(repo.default_branch) %>
      <% end %>
    <% end %>
  <% end %>

  <%= render Pagination::Component.new(label: 'GitHub repositories', frame: 'github-repositories') do |pager| %>
    <% pager.with_first(title: 'First', page: 1, path: @pagination_params) %>
    <% pager.with_previous(title: 'Previous', page: (@repos[:page_info][:page] - 1),path: @pagination_params) %>
    <% pager.with_next(title: 'Next', page: (@repos[:page_info][:page] + 1), path: @pagination_params,
                       disabled: (@repos[:page_info][:page] >= @repos[:page_info][:total])) %>
    <% pager.with_last(title: 'Last', page: @repos[:page_info][:total], path: @pagination_params) %>
  <% end %>
<% end %>
