<div class="w-full">
  <div class="responsive-container">
    <div class="mt-12 px-4 py-5 sm:px-6">
      <% if @service.config[:auth_type] == 'oauth' && !@service.identified? %>
        <p><em>Please <%= link_to 'authorize', services_github_auth_path(user_id: current_user.id, service_id: @service.id), data: { turbo_frame: 'modal' } %></em></p>
      <% elsif @service.config[:auth_type].nil? %>
        <p><em>Please <%= link_to 'update', edit_service_path(@service) %> this service to set an authorization type.</em></p>
      <% else %>
        <%= render @service %>
      <% end %>
    </div>
  </div>

  <% if @service.config[:auth_type] != 'oauth' || @service.identified? %>
    <section>
      <nav>
        <ul class="nav nav-tabs mb-3" id="services-github-tabs" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="services-github-tab-teams" data-mdb-toggle="tab" href="#services-github-content-teams" role="tab"
               data-turbo-frame="github-teams" aria-controls="services-github-content-teams" aria-selected="true"><i class="fas fa-people-group fa-fw me-2"></i>Teams</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="services-github-tab-repos" data-mdb-toggle="tab" href="#services-github-content-repos" role="tab"
               data-turbo-frame="github-repositories" aria-controls="services-github-content-repos"><i class="fa-brands fa-git-alt fa-fw me-2"></i>Repositories</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="services-github-tab-members" data-mdb-toggle="tab" href="#services-github-content-members" role="tab"
               aria-controls="services-github-content-members"><i class="fa-solid fa-users-rectangle fa-fw me-2"></i>Members</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="services-github-tab-collaborators" data-mdb-toggle="tab" href="#services-github-content-collaborators" role="tab"
               aria-controls="services-github-content-collaborators"><i class="fa-solid fa-handshake fa-fw me-2"></i>Collaborators</a>
          </li>
        </ul>
      </nav>

      <div class="tab-content" id="services-github-content">
        <div class="tab-pane fade show active" id="services-github-content-teams" role="tabpanel" aria-labelledby="services-github-tab-teams">
          <%= turbo_frame_tag 'github-teams', loading: :lazy, src: services_github_teams_path(@service) do %>
            <%= render Spinner::Component.new %>
          <% end %>
        </div>
        <div class="tab-pane fade" id="services-github-content-repos" role="tabpanel" aria-labelledby="services-github-tab-repos">
          <%= turbo_frame_tag 'github-repositories', loading: :lazy, src: services_github_repos_path(@service) do %>
            <%= render Spinner::Component.new %>
          <% end %>
        </div>
        <div class="tab-pane fade" id="services-github-content-members" role="tabpanel" aria-labelledby="services-github-tab-members">
          <%= turbo_frame_tag 'github-members', loading: :lazy, src: services_github_members_path(@service) do %>
            <%= render Spinner::Component.new %>
          <% end %>
        </div>
        <div class="tab-pane fade" id="services-github-content-collaborators" role="tabpanel" aria-labelledby="services-github-tab-collaborators">
          <%= turbo_frame_tag 'github-collaborators', loading: :lazy, src: services_github_collaborators_path(@service) do %>
            <%= render Spinner::Component.new %>
          <% end %>
        </div>
      </div>
    </section>
  <% end %>
</div>
