<%= turbo_frame_tag 'github-team-children' do %>
  <%= render Table::Component.new do |table| %>
    <%= table.with_header(title: 'Name') %>
    <%= table.with_header(title: 'Description') %>
    <%= table.with_header(title: 'Parent') %>
    <%= table.with_header(title: 'Notifications') %>

    <% @children[:data].each do |child| %>
      <%= table.with_row do |row| %>
        <%= row.with_column do %>
          <i class="fa-solid <%= case child.privacy
                                 when 'closed' then 'fa-door-closed'
                                 when 'secret' then 'fa-user-secret'
                                 else 'fa-people-group'
                                 end %>"
             title="<%= child.privacy.capitalize %>"></i>
          <%= link_to child.name, services_github_team_path(@service, team: child.id), data: { turbo_frame: '_top'} %>
        <% end %>

        <%= row.with_column.with_content(child.description) %>
        <%= row.with_column.with_content(child.parent&.name) %>
        <%= row.with_column do %>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch"
                   <% if child.notification_setting == 'notifications_enabled' %> checked <% end %>
                   disabled />
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= render Pagination::Component.new(label: 'GitHub team children', frame: 'github-team-children') do |pager| %>
    <% pager.with_first(title: 'First', page: 1, path: @pagination_params) %>
    <% pager.with_previous(title: 'Previous', page: (@children[:page_info][:page] - 1),path: @pagination_params) %>
    <% pager.with_next(title: 'Next', page: (@children[:page_info][:page] + 1), path: @pagination_params,
                       disabled: (@children[:page_info][:page] >= @children[:page_info][:total])) %>
    <% pager.with_last(title: 'Last', page: @children[:page_info][:total], path: @pagination_params) %>
  <% end %>
<% end %>
