<!DOCTYPE html>
<html>
  <head>
    <title>EngOps</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags  %>
  </head>

  <body>
    <header>
      <%= render SidebarComponent.new(current_user: current_user) do |sidebar| %>
        <%= sidebar.with_item(path: root_path, icon: 'fas fa-home', title: 'Home') %>
        <%= sidebar.with_item(path: services_path, icon: 'fas fa-cloud', title: 'Services') %>
        <%= sidebar.with_item(path: '#main-sidebar-admin', icon: 'fas fa-screwdriver-wrench', title: 'Admin') do |item| %>
          <%= item.with_item(path: admin_users_path, icon: 'fas fa-person-half-dress', title: 'Users') %>
          <%= item.with_item(path: admin_teams_path, icon: 'fas fa-people-group', title: 'Teams') %>
          <%= item.with_item(path: admin_roles_path, icon: 'fas fa-unlock-keyhole', title: 'Roles') %>
        <% end %>
      <% end %>

      <%= render NavigationBarComponent.new(current_user: current_user) %>
      <%= render 'shared/breadcrumbs' %>
    </header>

    <% if alert %>
      <div class="alert alert-danger" role="alert"><%= alert %></div>
    <% end %>
    <% if notice %>
      <div class="alert alert-warning" role="alert"><%= notice %></div>
    <% end %>

    <main role="main">
      <%= yield %>

      <%= turbo_frame_tag 'modal' %>
    </main>
  </body>
</html>
