<!DOCTYPE html>
<html>
  <head>
    <title>EngOps</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags  %>
  </head>

  <body>
    <header>
      <%= render Sidebar::Component.new(current_user: current_user) do |sidebar| %>
        <%= sidebar.with_item(path: root_path, icon: 'fas fa-home', title: 'Home') %>
        <%= sidebar.with_item(path: '#main-sidebar-services', icon: 'fas fa-cloud', title: 'Services') do |item| %>
          <% @all_services.each do |service| %>
            <%= item.with_item(path: service_path(service), title: service.name, icon: service.service_avatar_classes) %>
          <% end %>
        <% end %>

        <%= sidebar.with_item(path: '#main-sidebar-admin', icon: 'fas fa-screwdriver-wrench', title: 'Admin') do |item| %>
          <%= item.with_item(path: admin_users_path, icon: 'fas fa-person-half-dress', title: 'Users') %>
          <%= item.with_item(path: admin_teams_path, icon: 'fas fa-people-group', title: 'Teams') %>
          <%= item.with_item(path: admin_roles_path, icon: 'fas fa-unlock-keyhole', title: 'Roles') %>
        <% end %>
      <% end %>

      <%= render Navbar::Component.new(current_user: current_user) %>

      <%= render Breadcrumb::Component.new do |trail| %>
        <% @breadcrumbs ||= @default_breadcrumbs %>
        <% @breadcrumbs.each do |crumb| %>
          <% trail.with_item(name: crumb[:name], path: crumb[:path]) %>
        <% end %>
      <% end %>
    </header>

    <% if alert %>
      <div class="alert alert-danger" role="alert"><%= alert %></div>
    <% end %>
    <% if notice %>
      <div class="alert alert-warning" role="alert"><%= notice %></div>
    <% end %>

    <main role="main">
      <%= yield %>

      <%= turbo_frame_tag 'modal' %>
    </main>
  </body>
</html>
